.invisa {
    visibility: hidden!important;
}
* {
    outline:none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    color: #333333;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
.clearfix:before {
    clear: both;
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}
.container {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.container:before {
    clear: both;
    content: '';
    display: table;
}
.container:after {
    clear: both;
    content: '';
    display: table;
}
section {
    width: 100%;
    min-width: 1000px;
}
.section-title {
    font-family: "Roboto", Arial, sans-serif; 
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.yellow {
    color: #ffcc33;
}
.f18 {
    font-size: 18px;
}
.f32 {
    font-size: 32px;
}
.f45 {
    font-size: 45px;
}
.medium {
    font-family: "Roboto", Arial, sans-serif;
}
.bold {
    font-family: "Roboto", Arial, sans-serif;
}
header {
    background: #201f1f;
    padding: 15px 0 10px 0;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 111;
}
header * {
    color: white;
    font-family: "Roboto", Arial, sans-serif;
}
.logo_wrapper {
    float: left;
    width: 220px;
}
.logo {
    margin-bottom: 5px;
}
.logo-bottom {
    font-size: 18px;
    line-height: 1.2;
}
nav {
    float: left;
    width: 600px;
    margin: 30px 0 0 70px;
}
nav ul li {
    float: left;
    margin-right: 15px;
}
nav ul li a {
    text-transform: uppercase;
}
nav ul li a:hover {
    color: chocolate;
}
.phone-wrapper {
    float: right;
    text-align: right;
    font-size: 18px;
    line-height: 1.2;
}
.phone-top {
    font-size: 26px;
}
#main-screen {
    margin-top: 100px;
    padding-top: 28px;
    background: url('../img/main-bg.jpg') no-repeat center;
    background-size: cover;
}
.main-title {
    color: #ffcc33;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 40px;
    text-align: right;
    line-height: 1.2;
}
.main-title-sub {
    text-align: right;
    display: block;
    color: #ffcc33;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.9;
}
.main-img-wrapper {
    width: 660px;
    height: 463px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -127px;
    background: url('../img/main-aparat.png') no-repeat center;
    background-size: contain;
}
.item.first {
    width: 540px;
    float: right;
    margin-top: -43px;
    position: relative;
}
.action-price-wrapper {
    width: 280px;
    height: 280px;
    background: url('../img/action-price-bg.png') no-repeat center;
    background-size: contain;
    float: left;
    margin-left: 37px;
}
.action-price-wrapper .old-price {
    font-family: "Roboto", Arial, sans-serif;
    color: black;
    font-size: 40px;
    text-decoration: line-through;
    text-align: center;
    padding-top: 80px;
}
.action-price-wrapper .new-price {
    font-size: 50px;
    font-family: "Roboto", Arial, sans-serif;
    color: #ff3300;
    text-align: center;
}
.rub {
    text-align: center;
    font-size: 25px;
    font-family: "Roboto", Arial, sans-serif;
    color: #ff3300;
}
.timer-wrapper {
    width: 260px;
    float: left;
    margin-top: 75px;
    position: absolute;
    top: 0;
    right: 0;
}
.timer-wrapper .title {
    font-size: 20px;
    margin-bottom:10px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    color: #fff;
}
.item.second {
    width: 415px;
    float: right;
    margin-bottom: 45px;
    margin-top: -50px;
}
.order-btn {
    background: url('../img/button-bg.png') no-repeat center;
    background-size: cover;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 28px;
    border: none;
    display: block;
    margin: 10px auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 11;
}
.order-btn:active {
    background-image: -webkit-linear-gradient(bottom, #f7e048, #eaab39);
    background-image: -moz-linear-gradient(bottom, #f7e048, #eaab39);
    background-image: -ms-linear-gradient(bottom, #f7e048, #eaab39);
    background-image: -o-linear-gradient(bottom, #f7e048, #eaab39);
    background-image: linear-gradient(to top, #f7e048, #eaab39);
}
.items-lost {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    width: 380px;
    height: 35px;
    background: #f3f6f9;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}
.count {
    font-size: 32px;
    color: #0066cc;
    font-family: "Roboto", Arial, sans-serif;
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 15px;
}
.main-bottom {
    background: rgba(0, 8, 41, 0.8);
    padding: 20px 0 30px 0;
    margin-top: -5px;
}
.main-bottom .left {
    width: 50%;
    float: left;
    padding-left: 70px;
}
.main-bottom .right {
    width: 50%;
    float: left;
    padding-left: 50px;
}
.main-bottom-item {
    margin-bottom: 20px;
}
.main-bottom-item img {
    float: left;
    margin-right: 20px;
}
.main-bottom p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
    color: white;
    padding-top: 3px;
}
#functional {
    padding: 65px 0 47px 0;
    background: url('../img/functional-bg.jpg') no-repeat center;
    background-size: cover;
}
#functional .section-title {
    color: #003366;
}
#functional .title-divider {
    width: 120px;
    height: 3px;
    background: #003366;
    margin: 20px auto 80px auto;
}
#functional .first .item {
    margin-bottom: 65px;
}
#functional .item {
    float: left;
    width: 25%;
}
#functional .item .title {
    font-size: 22px;
    color: #0066cc;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
#functional .item img {
    display: block;
    margin: 20px auto 15px auto;
    width: 143px;
    height: 143px;
}
#functional .item .descr {
    font-size: 18px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    line-height: 1.2;
}
#characteristics {
    padding: 75px 0 80px 0;
    background: url('../img/charakteristiks-bg.jpg') no-repeat center;
    background-size: cover;
}
#characteristics .section-title {
    color: #003366;
}
#characteristics .title-divider {
    width: 120px;
    height: 3px;
    background: #003366;
    margin: 30px auto 70px auto;
}
#characteristics .item {
    width: 412px;
    float: right;
}
#characteristics .item ul li {
    font-size: 18px;
    font-family: 'Roboto';
    line-height: 1.4;
}
#characteristics .item ul li span {
    font-size: 20px;
    font-family: 'Roboto';
    color: black;
}
.video-wrapper {
    width: 831px;
    height: 493px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -215px;
    margin-bottom: -80px;
    background: url('../img/charakteristiks-video.png') no-repeat center;
    background-size: contain;
}
.video-body {
    width: 425px;
    height: 323px;
    margin: 21px 0 0 209px;
}
#why-now {
    background: url('../img/why-now-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 45px 0 110px 0;
    min-height: 670px;
}
#why-now .section-title {
    font-family: "Roboto", Arial, sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
}
#why-now .section-title .yellow.bold {
    line-height: 60px;
}
#why-now .left,
#why-now .right {
    margin-top: 46px;
    width: 485px;
}
#why-now .left {
    float: left;
}
#why-now .right {
    float: right;
}
#why-now .item {
    height: 135px;
    margin-bottom: 42px;
}
#why-now .left .item .img-wrapper {
    width: 90px;
    height: 100%;
}
#why-now .right .item .img-wrapper {
    width: 78px;
    height: 100%;
}
#why-now .left .item .img-wrapper {
    float: left;
    margin-right: 0;
}
#why-now .right .item .img-wrapper {
    float: right;
    margin-left: 0;
}
#why-now .item .img-wrapper img {
    margin-top: 35px;
}
#why-now .right .item .img-wrapper img {
    float: right;
}
#why-now .item .title {
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 25px;
    line-height: 1;
}
#why-now .item .descr {
    color: white;
    font-size: 20px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.2;
}
#why-now .right .item .title {
    text-align: right;
}
#why-now .right .item .descr {
    text-align: right;
}
#pay-post .title-divider-white {
    width: 120px;
    height: 3px;
    background: #ffffff;
    margin: 23px auto 65px auto;
}
#pay-post {
    background: url('../img/pay-post.jpg') no-repeat center;
    background-size: cover;
}
#pay-post .container {
    padding: 80px 0 80px 0;
}
#pay-post .section-title {
    color: white;
}
#pay-post .right {
    float: right;
    width: 745px;
}
#pay-post .right ul li {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 2px;
}
#pay-post .right ul li p {
    color: #ffcc33;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 25px;
}
#pay-post .img-wrapper {
    position: absolute;
    width: 476px;
    height: 585px;
    bottom: 0;
    left: 0;
    margin-left: -230px;
    background: url('../img/pay-post1.png') no-repeat center;
    background-size: contain;
}
#reviews {
    background: url('../img/reviews-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 750px;
    padding: 80px 0 105px 0;
}
#reviews .section-title {
    color: #003366;
}
#reviews .title-divider {
    width: 120px;
    height: 3px;
    background: #003366;
    margin: 30px auto 85px auto;
}
.reviews-slider {
    width: 582px;
    height: 419px;
    margin: 0 auto;
    background: url('../img/review-slider-bg.png') no-repeat center;
    background-size: contain;
    position: relative;
    z-index: 0;
    padding: 50px 80px 0 80px;
}
.arrow {
    width: 30px;
    height: 29px;
    background: url('../img/review-slider-marker.png') no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 186px;
    cursor: pointer;
}
.arrow.left {
    left: 12px;
}
.arrow.right {
    right: 16px;
    transform: rotate(180deg);
}
.kavichki {
    margin-top: 20px;
    float: left;
}
.review-head {
    float: right;
}
.review-head img {
    float: right;
    margin-left: 10px;
    width: 106px;
    height: 106px;
    border-radius: 50%;
}
.review-head p {
    float: right;
}
.review-head .name {
    color: #003366;
    font-size: 24px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 15px;
}
.review-head .city {
    color: #003366;
    font-size: 20px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: right;
}
.review-body p {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    color: #333333;
    margin-top: 30px;
    line-height: 1.1;
}
#advant {
    background: url('../img/advantages-bg.jpg') no-repeat center;
    background-size: cover;
}
#advant .container {
    padding: 80px 15px 60px 15px;
}
#advant .section-title {
    font-size: 37px;
    color: #003366;
}
#advant .section-title .lower {
    color: #003366;
    text-transform: lowercase;
    font-size: 40px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.3;
}
#advant .title-divider {
    width: 120px;
    height: 3px;
    background: #003366;
    margin: 25px auto 28px auto;
}
#advant .title-sub {
    font-size: 30px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    line-height: 1.2;
}
#advant .item.first {
    width: 100%;
    margin: 60px 0 45px 0;
}
#advant .item.first img {
    float: left;
    margin-right: 30px;
}
#advant .item.first p {
    font-size: 20px!important;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.1;
    margin-top: -5px;
    width: 440px;
    float: left;
}
#advant .item.second {
    width: 100%;
    margin-bottom: 45px;
    margin-top: 0px;
}
#advant .item.second img {
    float: right;
    margin-left: 40px;
    width: 442px;
}
#advant .item.second p {
    font-size: 20px;
    width: 488px;
    float: left;
    text-align: right;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.1;
    margin-top: -5px;
}
#advant .item.third img {
    width: 310px;
}
#advant .item.third img.second {
    margin: 0 15px;
}
#advant .item.fourth {
    margin: 40px 0 25px 0;
}
#advant .item.fourth .attention {
    float: left;
    margin: 0 35px 0 90px;
}
#advant .item.fourth p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}
#advant .title-bottom {
    text-align: center;
    font-size: 35px;
    color: #003366;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.2;
}
#action {
    background: url('../img/action-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 57px 0 15px 0;
}
#action .section-title {
    color: white;
    font-size: 40px;
    font-family: "Roboto", Arial, sans-serif;
}
#action .title-sub {
    color: #ffcc33;
    font-size: 40px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    margin-top: 38px;
    line-height: 1.2;
}
.action-img-wrapper {
    width: 592px;
    height: 571px;
    background: url('../img/action1.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 110px;
    left: 0;
    margin-left: -5px;
}
#action .item.first {
    margin-top: -15px;
}
#action .item.first .action-price-wrapper {
    margin-left: 10px;
}
#action .item.first .timer-wrapper {
    margin-top: 82px;
}
#action .item.second {
    margin-top: -40px;
}
#action .item.second .items-lost {
    margin: 25px auto;
}
footer {
    background: url('../img/footer-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 30px 0 40px 0;
    width: 100%;
    min-width: 1000px;
}
footer * {
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
footer .left {
    float: left;
    width: 430px;
    padding-left: 30px;
    margin-right: 65px;
}
footer .center {
    float: left;
    width: 170px;
    text-align: right;
}
footer .center img {
    float: right;
    margin-left: 10px;
}
footer .right {
    width: 260px;
    padding-right: 30px;
    text-align: right;
    float: right;
}
.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.modal-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 111;
    background: rgba(0, 0, 0, 0.6);
}
.modal-body {
    position: fixed;
    width: 310px;
    height: 330px;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: -155px;
    background: #fff;
    border-radius: 5px;
    z-index: 1111;
    padding: 30px 0;
}
.close {
    width: 10px;
    height: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: url('../img/close-modal.png') no-repeat center;
    background-size: contain;
}
.modal-title {
    font-size: 22px;
    color: #0099cc;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.modal-descr {
    color: #666666;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 15px;
}
.modal-form {
    margin-top: 20px;
}
.modal-form * {
    display: block;
    margin-bottom: 20px;
    width: 265px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.modal-form input, select {
    border: 1px solid #4ea7d3;
    padding: 5px 15px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    color: #999999;
}
.modal-form button {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 25px;
    color: black;
    cursor: pointer;
    background: #ffcc00;
}
.timer-body {
    position: relative;
    height:75px;
    overflow: hidden;
    
}
.timer-body * {
    color: #0066cc;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 45px;
}
.timer-item {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-top: 10px;
}
#timercountdown,
#timercountdown0 {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.timer-item.first {
    top: 0;
    z-index: 0;

}
.timer-item.second {
    top: 0;
    z-index: 0;
    left: 95px;
  
}
.timer-item.third {
    top: 0;
    z-index: 0;
    left: 185px;
 
}
.call-us {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}
.call-us:hover {
    border-bottom: none;
}
.digit{
    float:left;
    margin:0 36px 0 10px;
    position: relative;
    z-index:110;
    padding-top:28px;
}
.digit:last-of-type{
    margin-right:0;
}
.errorMessage{
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 11px;
    background: #f00;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    line-height: 12px;
    padding: 4px 12px;
    border-radius: 5px;
}
/**{
    outline: 1px dashed red;
}*/
img{
    max-width: 100%;
}

.video-container{
    position: relative;
    width: 426px;
    height: 320px;
    overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


@media screen and (max-width: 1024px){


#characteristics .item {
    width: 500px;
    float: none;
    margin: 40px auto 0;
}

.video-body {
    width: 430px;
    margin: 0 auto;
}


      .container{
        width:768px;
    }
    section,
    footer,
    header{
        min-width: 100%;
    }
    .main-img-wrapper{
        display: none;
    }
    .main-title,
    .main-title-sub{
        text-align: center;
    }
    .item.first{
        float: none;
        margin:0 auto;
    }
    .order-btn{
        float: none;
        margin:0 auto;
    }
    .item.second{
        float: none;
        margin:0 auto;
    }
    #functional .item .title{
        font-size: 18px;
    }
    .video-body{
        width:320px;
    }
    .video-wrapper{
        background:none;
    }
    #why-now{
        background:#013b6b;
    }
    #why-now .left,
    #why-now .right{
        float: none;
        margin:0 auto;
    }
    #advant .item.first img,
     #advant .item.second img{
        float: none;
        margin:0 auto;
        display: block;
    }
    #advant .item.first p,
    #advant .item.second p{
        float: none;
        margin:0 auto;
    }
   #advant .item.third img{
    width:233px;
   }
   nav{
    display: none;
   }
   .logo_wrapper{
    float: none;
    margin:0 auto;
   }
      .video-wrapper{
        width:auto;
        position: static;
        margin:0 auto;
        height:auto;
    }
    #pay-post{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .container{
        width:540px;
    }
    .main-bottom .left,
    .main-bottom .right{
        float: none;
        width:auto;
        padding-left:50px;
    }
    .section-title{
        font-size: 30px;
    }
    #functional .item{
        float: none;
        margin:0 auto;
        width:50%;
        margin-bottom:20px;
    }

    #functional .title-divider{
            margin: 20px auto 30px auto;
    }
    .video-body{
        margin:0 auto;
    }
    #characteristics .item{
        float: none;
        margin:20px auto;

    }
    #why-now{
        padding-bottom:30px;
    }
    #pay-post .right{
        float: none;
        margin:0 auto;
        width:auto;
    }
    .reviews-slider{
        width:auto;
        height: auto;
        padding-bottom:50px;
        background: none;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 10px;
    }
    #advant .item img{
        margin-bototm:20px;
    }
    #advant .item img,
    #advant .item.third img.second{
        float: none;
        display: block;
        margin:0 auto;
    }
    #action .title-sub{
        font-size: 30px;
    }
    .action-img-wrapper{
        width:auto;
    }
    #reviews{
        padding-top:20px;
    }
}
@media screen and (max-width: 540px){

.video-container {
    position: relative;
    width: 300px;
    height: 170px;
    overflow: hidden;
}

.video-body {
    height: auto;
}

#characteristics .item {
    width: 500px;
    float: none;
    margin: 40px auto 0;
}

.video-body {
    width: 430px;
    margin: 0 auto;
}


    .container{
        width:320px;
    }
    .timer-wrapper{
        position: static;
        margin:0 auto;
        float: none;
    }
    .item.first,
    .item.second{
        width:auto;
    }
    .item.first{
        margin-bottom:20px;
    }
    .action-price-wrapper{
        margin: 0 auto;
        float: none;

    }
    .items-lost{
        display: none;
    }
    .section-title {
        font-size: 21px;
    }
    #characteristics .item{
        width:auto;
    }
    #why-now .left, #why-now .right{
        width:auto;
    }
    #why-now .item{
        height:auto;
    }
    #pay-post .right{
        text-align: center;
        font-size: 20px;
    }
    #pay-post .right ul li{
        font-size: 20px;
    }
    .review-head img{
        float: none;
        marign:0 auto;
        display: block;
    }
    .review-head .name{
        text-align: center;
    }
    .review-head .city{
        float: none;
        text-align: center;
    }
    #advant .item.second p,
    #advant .item.first p{
        text-align: center;
        width:auto;
    }
    #action .item.first .timer-wrapper{
        margin-top:30px;
    }
    .order-btn{
        margin:30px auto;
    }
    #advant .title-bottom{
        font-size: 20px;
    }
    #advant .item.fourth p{
        text-align: center;
    }
    #advant .item.fourth .attention{
        float: none;
        margin:0 auto;
    }
    .video-body{
        width:300px;
    }
    #advant .section-title{
        font-size: 32px;
    }
    #why-now .right .item .descr,
    #why-now .right .item .title{
        text-align: center;
    }
    #why-now,#pay-post{
        display: none;
    }
    #reviews .title-divider{
        margin-bottom:30px;
    }
}

.modal-form * {
    height: auto;
    margin-bottom: 12px;
}

#order-form {
    background: url('../img/advantages-bg.jpg') no-repeat center;
    padding: 30px 10px;
}

#order-form h2.section-title {
    color: #003366;
}

select {
    background-color: #fff;
}

.modal-form input, select {
    height: 47px;
    width: 90%;
    max-width: 420px;
    box-sizing: border-box;
}

.modal-form * {
    width: 100%;
}

.order-btn {
    text-align: center;
    line-height: 55px;
    text-decoration: none;
}